.checkout-page {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2170px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

